---
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";

const allPosts = Object.values(
  import.meta.glob("./blog/**/*.{md,mdx}", { eager: true }),
);

---

<Layout>
	<section class="hero">
		<h1>Welcome to my digital garden</h1>
		<p>
			Opinions here are <i>mine</i>, but hopefully, they represent you as well.
		</p>
	</section>
	<section>
		<h2>Most recent writing</h2>
		<PostsList posts={allPosts}/>
	</section>
</Layout>

<style>

	.hero {
		width: fit-content;
		margin-inline: auto;
	}

</style>
