---
import ToggleColorSchema from "./ToggleColorSchema.astro"
---
<nav class="container lg">
  <ul>
    <li>
      <strong class="logo"><a href="/" class="contrast">AL🍂</a></strong>
    </li>
  </ul>
  <ul>
    <li><a href="/explore">Explore</a></li>
    <li><a href="#">About</a></li>
    <li><ToggleColorSchema /></li>
  </ul>
</nav>
<style>
	.logo {
		font-size: 2rem;
	}

  nav {
    overflow: hidden;
    font-family: var(--pico-font-family-sans-serif);
  }
</style>