<nav class="container lg">
  <ul>
    <li>
      <strong class="logo"><a href="/" class="contrast">Al 🍂</a></strong>
    </li>
  </ul>
  <ul>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
  </ul>
</nav>
<style>
	.logo {
		font-size: 2rem;

		a {
			text-decoration: none;
		}
	}
</style>